</div>
<!-- END wrapper -->

 

<script>
    var resizefunc = [];
</script>

<!-- jQuery  -->
<script src="/admin_assets/js/jquery.min.js"></script>
<script src="/admin_assets/js/bootstrap.min.js"></script>
<script src="/admin_assets/js/detect.js"></script>
<script src="/admin_assets/js/fastclick.js"></script>
<script src="/admin_assets/js/jquery.blockUI.js"></script>
<script src="/admin_assets/js/waves.js"></script>
<script src="/admin_assets/js/jquery.nicescroll.js"></script>
<script src="/admin_assets/js/jquery.slimscroll.js"></script>
<script src="/admin_assets/js/jquery.scrollTo.min.js"></script>

<!-- KNOB JS -->
<!--[if IE]>
<script type="text/javascript" src="/admin_assets/plugins/jquery-knob/excanvas.js"></script>
<![endif]-->
<script src="/admin_assets/plugins/jquery-knob/jquery.knob.js"></script>

<!--Morris Chart-->
<!-- <script src="/admin_assets/plugins/morris/morris.min.js"></script>
<script src="/admin_assets/plugins/raphael/raphael-min.js"></script> -->

<!-- Dashboard init -->
<!-- <script src="/admin_assets/pages/jquery.dashboard.js"></script> -->
       <!-- Datatables-->
       <script src="/admin_assets/plugins/datatables/jquery.dataTables.min.js"></script>
       <script src="/admin_assets/plugins/datatables/dataTables.bootstrap.js"></script>
       <script src="/admin_assets/plugins/datatables/dataTables.buttons.min.js"></script>
       <script src="/admin_assets/plugins/datatables/buttons.bootstrap.min.js"></script>
       <script src="/admin_assets/plugins/datatables/jszip.min.js"></script>
       <script src="/admin_assets/plugins/datatables/pdfmake.min.js"></script>
       <script src="/admin_assets/plugins/datatables/vfs_fonts.js"></script>
       <script src="/admin_assets/plugins/datatables/buttons.html5.min.js"></script>
       <script src="/admin_assets/plugins/datatables/buttons.print.min.js"></script>
       <script src="/admin_assets/plugins/datatables/dataTables.fixedHeader.min.js"></script>
       <script src="/admin_assets/plugins/datatables/dataTables.keyTable.min.js"></script>
       <script src="/admin_assets/plugins/datatables/dataTables.responsive.min.js"></script>
       <script src="/admin_assets/plugins/datatables/responsive.bootstrap.min.js"></script>
       <script src="/admin_assets/plugins/datatables/dataTables.scroller.min.js"></script>
       <script src="/admin_assets/js/socket.io.js"></script>
       <script src="/admin_assets/js/socket-client-side.js"></script>

       <script src="/admin_assets/plugins/switchery/switchery.min.js"></script>

       <!-- Modal-Effect -->
       <script src="/admin_assets/plugins/custombox/dist/custombox.min.js"></script>
       <script src="/admin_assets/plugins/custombox/dist/legacy.min.js"></script>


       <!-- Datatable init js -->
       <script src="/admin_assets/pages/datatables.init.js"></script>

       
       <script type="text/javascript">
        $(document).ready(function() {
            $('#datatable').dataTable();
            $('#datatable-keytable').DataTable( { keys: true } );
            $('#datatable-responsive').DataTable();
            $('#datatable-scroller').DataTable( { ajax: "/admin_assets/plugins/datatables/json/scroller-demo.json", deferRender: true, scrollY: 380, scrollCollapse: true, scroller: true } );
            var table = $('#datatable-fixed-header').DataTable( { fixedHeader: true } );
            
        } );
        TableManageButtons.init();

    </script>
          <!-- file uploads js -->
        <script src="/admin_assets/plugins/fileuploads/js/dropify.min.js"></script>
        <script type="text/javascript">
        var pageTitle = '<%= title %>';
            $('.dropify').dropify({
                messages: {
                    'default': 'Drag and drop a your '+((pageTitle == 'Add-product')? 'feature image' : pageTitle)+' image here or click',
                    'replace': 'Drag and drop or click to replace',
                    'remove': 'Remove',
                    'error': 'Ooops, something wrong appended.'
                },
                error: {
                    'fileSize': 'The file size is too big (1M max).'
                }
            });
        </script>
<!-- App js -->
<script src="/admin_assets/js/jquery.core.js"></script>
<script src="/admin_assets/js/jquery.app.js"></script>

<!-- Toastr js -->
<script src="/admin_assets/plugins/toastr/toastr.min.js"></script>


<script src="/admin_assets/js/custom.js"></script>

 <script src="/admin_assets/plugins/jquery-ui/jquery-ui.min.js"></script>

  <!--form wysiwig js-->
  <script src="/admin_assets/plugins/tinymce/tinymce.min.js"></script>

  <script type="text/javascript" src="/admin_assets/plugins/jquery-quicksearch/jquery.quicksearch.js"></script>
  <script src="/admin_assets/plugins/select2/dist/js/select2.min.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(".select2").select2();
    $(".select2-limiting").select2({
          maximumSelectionLength: 2
        });
  </script>
    <script type="text/javascript">
          $(document).ready(function () {
                    tinymce.init({
                        selector: "textarea#product_long_desc,textarea#bazarDetails",
                        theme: "modern",
                        height:100,
                        plugins: [
                            "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
                            "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                            "save table contextmenu directionality emoticons template paste textcolor"
                        ],
                        toolbar: "styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent",
                        style_formats: [
                            {title: 'Bold text', inline: 'b'},
                            {title: 'Red text', inline: 'span', styles: {color: '#ff0000'}},
                            {title: 'Red header', block: 'h1', styles: {color: '#ff0000'}},
                            {title: 'Example 1', inline: 'span', classes: 'example1'},
                            {title: 'Example 2', inline: 'span', classes: 'example2'},
                            {title: 'Table styles'},
                            {title: 'Table row 1', selector: 'tr', classes: 'tablerow1'}
                        ]
                    });
            });
  </script>


</body>
</html>
