
            <!-- ========== Left Sidebar Start ========== -->
            <div class="left side-menu">
                <div class="sidebar-inner slimscrollleft">

                    <!-- User -->
                    <div class="user-box">
                        <div class="user-img">
                            <img src="/admin_assets/images/users/<%= userData.user_img %>" alt="user-img" title="Mat Helme" class="img-circle img-thumbnail img-responsive">
                            <div class="user-status offline"><i class="zmdi zmdi-dot-circle"></i></div>
                        </div>
                        <h5><a href="#"><%= userData.user_name %></a><br><a href="#"><%= userData.user_role %></a> </h5>
                        <ul class="list-inline">
                            <li>
                                <a href="#" >
                                    <i class="zmdi zmdi-settings"></i>
                                </a>
                            </li>

                            <li>
                                <a href="/logout" class="text-custom">
                                    <i class="zmdi zmdi-power"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- End User -->

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">
                        <ul>
                        	<li class="text-muted menu-title">Navigation</li>

                            <li class="<% if(title == 'Dashboard'){ %>active <% } %>" >
                                <a href="/" class="waves-effect"><i class="zmdi zmdi-view-dashboard"></i> <span> Dashboard </span> </a>
                            </li>
                            <li class="<% if(title == 'Dashboard'){ %>active <% } %>" >
                                <a href="/member" class="waves-effect"><i class="zmdi zmdi-view-dashboard"></i> <span> Member </span> </a>
                            </li>
                            <li class="has_sub">
                                <a href="javascript:void(0);" class="waves-effect"><i class="fa fa-cubes"></i> <span>Meal</span> <span class="menu-arrow"></span></a>
                                <ul class="list-unstyled">
                                    <li><a href="/meal"><i class="fa fa-cube"></i>Add Meal </a></li>
                                    <li><a href="/meal-details"><i class="fa fa-cog"></i>Meal Details</a></li>
                                </ul>
                            </li>
                            <li class="has_sub">
                                <a href="javascript:void(0);" class="waves-effect"><i class="fa fa-cubes"></i> <span>Bazar</span> <span class="menu-arrow"></span></a>
                                <ul class="list-unstyled">
                                    <li><a href="/bazar"><i class="fa fa-cube"></i>Add Bazar</a></li>
                                    <li><a href="/bazar-details"><i class="fa fa-cog"></i>Bazar Details</a></li>
                                </ul>
                            </li>
                            <li class="" >
                                <a href="/fixed-cost" class="waves-effect"><i class="zmdi zmdi-view-dashboard"></i> <span> Fixed Cost </span> </a>
                            </li>
                            <li class="has_sub">
                                <a href="javascript:void(0);" class="waves-effect"><i class="fa fa-cubes"></i> <span>Accounts </span> <span class="menu-arrow"></span></a>
                                <ul class="list-unstyled">
                                    <li><a href="/payment"><i class="fa fa-cube"></i>Payment</a></li>
                                    <li><a href="/monthly-calculation"><i class="fa fa-cube"></i>Monthly Calculation</a></li>
                                </ul>
                            </li>

                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <!-- Sidebar -->
                    <div class="clearfix"></div>

                </div>

            </div>
            <!-- Left Sidebar End -->
