
            <!-- Right Sidebar -->
            <div class="side-bar right-bar col-sm-12" style="box-shadow: -1px 0px 3px 0px #3333;z-index: 99999">
            <div class="row">
                <div class="row">                    
                    <div class="col-md-12" id="Conv_list_label">
                        <a href="javascript:void(0);"  onclick="toggleMsgBar('close')" class="right-bar-toggle">
                            <i class="zmdi zmdi-close-circle-o"></i>
                        </a>
                        <h4 class=""> <i class="fa fa-comments"></i>  Conversations</h4>
                    </div>
                </div>                
                <div class="notification-list col-md-12" >
                    <ul class="list-group list-no-border user-list" id="convAllUserList" style="display: block"> </ul>

                    <div class="col-md-12" id="msgContainer" style="display: none">
                        <div class="row">
                            <div class="row">                                
                                <div class="col-md-12 p-t-10" id="msgBodyLabel">
                                    <div class="media">
                                        <div class="media-left">
                                                <a href="javascript:void(0);"  onclick="hideMsgContainer()" style="line-height:37px;font-size:20px;">
                                                    <i class="fa fa-arrow-circle-o-left"></i>
                                                </a>
                                        </div>
                                        <div class="media-left" style="padding-top:4px">
                                            <a href="#"> <img style="width: 30px;height: 30px" id="userHeadLabelimg" class="media-object img-circle" alt="30x30" src=""> </a>
                                        </div>
                                        <div class="media-body">
                                            <h3 class="media-heading" style="line-height: 16px;margin: 0px;" id="userHeadLabelName"></h3>
                                            <p class="font-13 text-muted m-b-0" id="userHeadLabelActivity">
                                            </p>
                                        </div>
                                        <div class="media-right" >
                                                <a href="javascript:void(0);"  onclick="toggleMsgBar('close')" style="font-size:20px; color:#333;line-height: 37px;">
                                                    <i class="zmdi zmdi-close-circle-o"></i>
                                                </a>
                                            <!-- <button class="btn btn-icon waves-effect waves-light btn-danger m-b-5" onclick="hideMsgContainer()"> <i class="fa fa-remove" ></i> </button> -->
                                        </div>
                                    </div>
                                </div>
                            </div>                          
                            <div class="col-md-12 nicescroll" id="msgBodyContainer" data-conv-id="">

                                <div class="media m-b-10 left_user">
                                    <div class="media-left" >
                                        <a href="#"> <img class="media-object img-circle thumb-sm user_img" alt="30x30" src="/admin_assets/images/users/51270175_1976062585844014_6844650695417659392_n@1553015206169.jpg"> </a>
                                    </div>
                                    <div class="media-body">
                                        
                                        <p class="font-13 text-muted m-b-0 msg_body_left">
                                            Cras sit amet nibh libero, in gravida nulla. 
                                        </p>
                                        
                                    </div>
                                </div>
                                <div class="media m-b-10 right_user">
                                    <div class="media-right" style="float: right">
                                        <a href="#"> <img class="media-object img-circle thumb-sm user_img" alt="30x30" src="/admin_assets/images/users/51270175_1976062585844014_6844650695417659392_n@1553015206169.jpg"> </a>
                                    </div>
                                    <div class="media-body">
                                        
                                        <p class="font-13 text-muted m-b-0 msg_body_right">
                                            Cras sit amet nibh libero, in gravida nulla.Cras sit amet nibh libero, in gravida nulla.Cras sit amet nibh libero, in gravida nulla.
                                        , gravida nulla.Cras sit amet nibh libero, in gravida nulla.
                                            Cras sit amet nibh libero, in gravida nulla.Cras sit amet nibh libero, in gravida nulla.Cras sit amet nibh libero, in gravida nulla.Cras sit amet nibh libero, in gravida nulla.
                                            </p>
                                    </div>
                                </div>
                                <div class="media m-b-10 left_user">
                                    <div class="media-left" >
                                        <a href="#"> <img class="media-object img-circle thumb-sm user_img" alt="30x30" src="/admin_assets/images/users/51270175_1976062585844014_6844650695417659392_n@1553015206169.jpg"> </a>
                                    </div>
                                    <div class="media-body">
                                        
                                        <p class="font-13 text-muted m-b-0 msg_body_left">
                                            Cras sit amet nibh libero, in gravida nulla. 
                                        </p>
                                        
                                    </div>
                                </div>
                                <div class="media m-b-10 right_user">
                                    <div class="media-right" style="float: right">
                                        <a href="#"> <img class="media-object img-circle thumb-sm user_img" alt="30x30" src="/admin_assets/images/users/51270175_1976062585844014_6844650695417659392_n@1553015206169.jpg"> </a>
                                    </div>
                                    <div class="media-body">
                                        
                                        <p class="font-13 text-muted m-b-0 msg_body_right">
                                            Cras sit amet nibh libero, in gravida nulla.Cras sit amet nibh libero, in gravida nulla.Cras sit amet nibh libero, in gravida nulla.
                                        , gravida nulla.Cras sit amet nibh libero, in gravida nulla.
                                            Cras sit amet nibh libero, in gravida nulla.Cras sit amet nibh libero, in gravida nulla.Cras sit amet nibh libero, in gravida nulla.Cras sit amet nibh libero, in gravida nulla.
                                            </p>
                                    </div>
                                </div>
                                <div class="media m-b-10 left_user">
                                    <div class="media-left" >
                                        <a href="#"> <img class="media-object img-circle thumb-sm user_img" alt="30x30" src="/admin_assets/images/users/51270175_1976062585844014_6844650695417659392_n@1553015206169.jpg"> </a>
                                    </div>
                                    <div class="media-body">
                                        
                                        <p class="font-13 text-muted m-b-0 msg_body_left">
                                            Cras sit amet nibh libero, in gravida nulla. 
                                        </p>
                                        
                                    </div>
                                </div>
                                <div class="media m-b-10 right_user">
                                    <div class="media-right" style="float: right">
                                        <a href="#"> <img class="media-object img-circle thumb-sm user_img" alt="30x30" src="/admin_assets/images/users/51270175_1976062585844014_6844650695417659392_n@1553015206169.jpg"> </a>
                                    </div>
                                    <div class="media-body">
                                        
                                        <p class="font-13 text-muted m-b-0 msg_body_right">
                                            sit amet nibh libero, in gravida nulla.Cras sit amet nibh libero, in gravida nulla.Cras sit amet nibh libero, in gravida nulla.
                                            </p>
                                    </div>
                                </div>

                            </div>
                            <div class="row">                                
                                <div id="sendMsg" class="col-md-12">
                                    <div class="media msg_send_area">
                                        <div class="media-left" style="width: 30px;">
                                            <a href="#"> <img style="width: 30px;height: 30px" class="media-object img-circle thumb-sm" alt="30x30" src="" id="sendMsgUserImg" user-id=""> </a>
                                        </div>
                                        <div class="media-body">
                                            <div class="msg_text_box" id="msgBox" contenteditable="true" onkeydown="msgboxkeydown(event,this)" onkeyup="msgBoxKeyup(event,this)"></div>
                                            <div class="msg_send_btn" id="msgSendBtn" onclick="sendMsg(this)" >
                                                <img src="/admin_assets/images/f_send.svg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <!-- /Right-bar -->
