
            <!-- Right Sidebar -->
            <div class="side-bar right-bar">
                <a href="javascript:void(0);"  onclick="toggleMsgBar('close')" class="right-bar-toggle">
                    <i class="zmdi zmdi-close-circle-o"></i>
                </a>
                <h4 class="">Conversations</h4>
                <div class="notification-list nicescroll">
                    <ul class="list-group list-no-border user-list">
                        <li class="list-group-item">
                            <a href="#" class="user-list-item">
                                <div class="avatar" style="width:30px;height:30px;">
                                    <img style="width:100%;height:100%;" src="/admin_assets/images/users/chuttersnap-185060-unsplash@1552901639588.jpg" alt="">
                                    <div class="user-activity-status user-status online"><i class="zmdi zmdi-dot-circle"></i></div>
                                </div>
                                <div class="user-desc">
                                    <span class="name">Michael Zenaty</span>
                                    <span class="desc">There are new settings available</span>
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="#" class="user-list-item">
                                <div class="avatar" style="width:30px;height:30px;">
                                    <img style="width:100%;height:100%;" src="/admin_assets/images/users/chuttersnap-185060-unsplash@1552901639588.jpg" alt="">
                                    <div class="user-activity-status user-status offline"><i class="zmdi zmdi-dot-circle"></i></div>
                                </div>
                                <div class="user-desc">
                                    <span class="name">Michael Zenaty</span>
                                    <span class="desc">There are new settings available</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /Right-bar -->
